.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.loader {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

img {
  height: 200px;
  width: 250px;
  opacity: 1;
  filter: brightness(95%);
  filter: saturate(100%);
}

img:hover {
  opacity: 0.9;
  filter: saturate(120%);
  scale: 1.01;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #858080;
  letter-spacing: 2px;
}

@media screen and (max-width: 400px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
  }

  img {
    height: 100px;
    width: 150px;
  }
}
